<app-menu></app-menu>
<section class="container p-5">
  <form class="form-group">
    <div class="form-group text-center">
      <div class="row p-2">
        <label class="col-sm-12 p-3 text-center">Historique pour la commune <span
            style="color:crimson">XXX</span></label>
        <div class="col-sm-6 ">
          <button type="submit" class="btn btn-primary float-right">Retour</button>
        </div>
        <div class="col-sm-auto">
          <button type="submit" class="btn btn-primary float-right">Prévision</button>
        </div>
      </div>
      <div class="row p-2 form-control">
        <label class="col-sm-12 text-center"><b>Période</b></label>
        <div class="row p-2">
          <div class="col-sm-2">
            <label class="text-center">Du</label>
          </div>
          <div class="col-sm-3">
            <input class="w-100 text-dark" type="date" id="dateDu" name="dateDu" [(ngModel)]="rechercheHistorique.dateDebut">{{rechercheHistorique.dateDebut}}
          </div>
          <div class="col-sm-2">
            <label class="text-center">Au</label>
          </div>
          <div class="col-sm-3">
            <input class="w-100 text-dark" type="date" id="dateAu" name="dateAu" [(ngModel)]="rechercheHistorique.dateFin">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-sm-2">
            <label class="text-center">De</label>
          </div>
          <div class="col-sm-3">
            <input class="w-100 text-dark" type="time" id="heureDe" name="heureDe" [(ngModel)]="rechercheHistorique.heureDebut">
          </div>
          <div class="col-sm-2">
            <label class="text-center">A</label>
          </div>
          <div class="col-sm-3">
            <input class="w-100 text-dark" type="time" id="heureA" name="heureA" [(ngModel)]="rechercheHistorique.heureFin">{{rechercheHistorique.heureFin}}
          </div>
        </div>
        <div class="row p-2">
          <div class="col-sm-12">
            <select name="polluant" [(ngModel)]="rechercheHistorique.polluant">
              <option *ngFor="let polluant of listePolluants" [ngValue]="polluant">{{polluant}}</option>
            </select>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" (click)="demanderHistorique(rechercheHistorique)">Rechercher</button>
            <label>{{error|json}}</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
