<div class="container mt-5">

  <div class="card">
    <div class="card-header">
      <h2>Modification d'un indicateur</h2>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="choixCommune">Choisir une commune : </label>
          <select class="form-control" id="choixCommune" name="nomCommune" #nomCommune="ngModel"
            [(ngModel)]="indicateurModification.commune" required>
            <option *ngFor="let commune of listeCommunes">{{commune}}</option>
          </select>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="choixAlerte" name="alerte"
            [(ngModel)]="indicateurModification.alerte" #alerte="ngModel">
          <label class="form-check-label" for="choixAlerte">Je souhaite recevoir des alertes pollution pour cette
            commune</label>
        </div>
        <div class="text-danger mb-5" *ngIf="messageErreur !=null">{{messageErreur}}</div>
        <button type="submit" class="btn btn-primary mr-5" (click)="retourIndicateur()">Annuler</button>
        <button type="submit" class="btn btn-primary ml-5" (click)="modifierIndicateur(indicateurModification)"
          [disabled]="nomCommune.invalid ">Valider</button>
      </form>

    </div>

  </div>


</div>
