<div class="container pt-5" *ngIf="erreur == null">

  <div class="card">


    <div class="card-header">
      <h2 class="d-flex justify-content-center ">Résulats pour la commune :
        {{donneesLocales.communeDtoVisualisation.nom}}</h2>
      <h3 class="d-flex justify-content-center ">Le {{donneesLocales.date | date:'dd/MM/yyyy à HH:mm'}}</h3>
    </div>

    <div class="card-body">

      <div class="pt-5">
        <div class="row d-flex justify-content-center ">
          <h4 class="col-6">Polluants</h4>

          <div class="col-2">
            <button type="button" class="btn btn-primary">Historique</button>
          </div>
        </div>
        <div class="row d-flex justify-content-center "
          *ngFor="let polluant of donneesLocales.listePolluantDtoVisualisation">
          <div class="col-3">{{polluant.nom}}:</div>
          <div class="col-5">
            {{polluant.valeur}} {{polluant.unite}}
          </div>

        </div>

      </div>

      <div class="mt-5 row d-flex justify-content-center ">
        <h4 class="col-3">Population:</h4>
        <div class="col-5">
          {{donneesLocales.communeDtoVisualisation.nbHabitants}} habitants
        </div>
      </div>

      <div class="pt-5">
        <div class="row d-flex justify-content-center ">
          <h4 class="col-8">Conditions météo</h4>
        </div>
        <div class="row d-flex justify-content-center ">
          <div class="col-3">Humidité:</div>
          <div class="col-5">{{donneesLocales.conditionMeteoDtoVisualisation.humidite}} %</div>
        </div>
        <div class="row d-flex justify-content-center ">
          <div class="col-3">Température:</div>
          <div class="col-5">{{donneesLocales.conditionMeteoDtoVisualisation.temperature}} °C</div>
        </div>
        <div class="row d-flex justify-content-center ">
          <div class="col-3">Ensoleillement:</div>
          <div class="col-5">{{donneesLocales.conditionMeteoDtoVisualisation.ensoleillement}} %</div>
        </div>


      </div>

    </div>
  </div>




</div>

<div class="container pt-5" *ngIf="erreur != null">
  <div class="card">

    <div class="card-header">Nous sommes vraiment désolé, nous ne pouvons afficher les données de cette commune pour
      la raison suivante : </div>
    <div class="card-body text-danger">
      <div>{{erreur}}</div>
      <button type="button" class="btn btn-link mx-auto">Retour</button>

    </div>


  </div>
</div>
