<div class="container">

  <div class="text-center">
    <h2 class="row">Résulats pour la commune : </h2>
    <h3 class="row">Le date à ... h</h3>
  </div>

  <div class="pt-5">
    <h4 class="row">Polluants</h4>
    <div class="row">
      <div class="col-3">Nom polluant</div>
      <div class="col-5">
        resultats unité de mesure
      </div>

    </div>

  </div>

  <div class="pt-5 row">
    <h4 class="col-3">Population</h4>
    <div class="col-5">
      nombres habitants
    </div>
  </div>

  <div class="pt-5">
    <h4 class="row">Conditions météo</h4>
    <div class="row">
      <div class="col-3">Humidité</div>
      <div class="col-5">
        <p>resultats</p>
        <p>%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Température</div>
      <div class="col-5">
        <p>resultats</p>
        <p>°(</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Ensoleillement</div>
      <div class="col-5">
        <p>resultats</p>
        <p>%</p>
      </div>
    </div>
  </div>
</div>
