<app-menu></app-menu>
<section class="container p-5" *ngIf="suppression == false">
  <div class="card bg-light text-dark">
    <h1 class="p-3 card-header text-center">Mon Profil</h1>
    <form class="card-body">
      <div class="form-group text-left">
        <div class="row p-2">
          <label class="col-sm-4" for="nom">Nom</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="nom" name="nom" [(ngModel)]="utilisateur.nom" #nom="ngModel"
              value="{{utilisateur.nom}}">
            <p *ngIf="nom.value ==''" style="color: crimson">Veuillez entrez votre nom actuel si vous ne souhaitez pas
              le modifier</p>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="prenom">Prénom</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="prenom" name="prenom" [(ngModel)]="utilisateur.prenom" #prenom="ngModel"
              value="{{utilisateur.prenom}}">
            <p *ngIf="prenom.value ==''" style="color: crimson">Veuillez entrer votre prénom actuel si vous ne souhaitez
              pas le modifier</p>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="email">Email</label>
          <div class="col-sm-8">
            <input type="email" class="w-100 text-dark" id="email" name="email" [(ngModel)]="utilisateur.email"
              #email="ngModel" value="{{utilisateur.email}}">
            <p *ngIf="email.value ==''" style="color: crimson">Veuillez entrer votre email actuel si vous ne souhaitez
              pas le modifier</p>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="commune">Commune</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="commune" name="commune" [(ngModel)]="utilisateur.commune"
              #commune="ngModel" value="{{utilisateur.commune}}">
            <p *ngIf="commune.value == ''" style="color: crimson">Veuillez entrer votre commune acutelle si vous ne
              souhaitez pas la modifier</p>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="statutNotification">Alerte ma commune</label>
          <div class="col-sm-8">
            <div class="row p-2">
              <input type="checkbox" class="text-dark" id="statutNotification" name="statutNotification"
                [(ngModel)]="utilisateur.statutNotification" #statutNotification="ngModel"
                value="{{utilisateur.statutNotification}}">
              <label class="w-10 text-dark px-2">{{utilisateur.commune}}</label>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="alertes">Alertes</label>
          <div class="col-sm-8">
            <div class="row p-2" *ngFor="let indicateur of utilisateur.listeIndicateur">
              <input type="checkbox" class="text-dark" id="alertes" name="alertes"
                [(ngModel)]="utilisateur.listeIndicateur" #alertes="ngModel" value="{{utilisateur.listeIndicateur}}">
              <label class="w-10 text-dark px-2">{{utilisateur.listeIndicateur}}</label>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="password">Mot de passe actuel</label>
          <div class="col-sm-8">
            <input type="password" class="w-100 text-dark" id="password" name="password"
              placeholder="Votre mot de passe actuel" [(ngModel)]="utilisateur.motDePasseActuel"
              #motDePasseActuel="ngModel">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="newPassword">Nouveau mot de passe</label>
          <div class="col-sm-8">
            <input pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" type="password"
              class="w-100 text-dark" #mdp="ngModel" [(ngModel)]="utilisateur.motDePasseNouveau"
              aria-describedby="mdpAide" id="newPassword" name="newPassword" [ngModelOptions]="{updateOn: 'blur'}"
              placeholder="$5dsfIUH!è" [disabled]="motDePasseActuel.value=='' || motDePasseActuel.pristine">
            <small id="mdpAide" class="form-text text-muted">Doit comporter au moins 8 caractères dont 1
              majuscule, 1 minuscule, 1 caractère spécial et 1 chiffre.</small>
            <ng-container *ngIf="(mdp.dirty && mdp.invalid)">
              <p class="text-danger">
                Champs Invalide
              </p>
            </ng-container>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="validationPassword">Retapez le nouveau mot de passe</label>
          <div class="col-sm-8">
            <input type="password" class="w-100 text-dark" id="validationPassword" name="validationPassword"
              [(ngModel)]="utilisateur.getMotDePasseNouveauValidation" #getMotDePasseValidation="ngModel"
              [disabled]="mdp.isDisabled">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary float-right" (click)="modifierProfil()"
              [disabled]="nom.value=='' || prenom.value=='' || email.value=='' || commune.value=='' || (mdp.dirty && mdp.invalid)">Modifier
              Profil</button>
          </div>
          <div class="col-sm-auto">
            <button type="submit" class="btn btn-primary float-right" (click)="demanderSuppression()">Supprimer
              Profil</button>
          </div>
        </div>
        <p style="color: forestgreen" *ngIf="modif">Modifications effectuées</p>
        <p style="color: crimson" *ngIf="modif==false">{{error}}</p>
      </div>
    </form>
  </div>
</section>

<section class="container p-5" *ngIf="suppression == true">
  <div class="card bg-light text-dark">
    <h1 class="p-3 card-header text-center">Supprimer mon compte</h1>
    <form class="card-body">
      <div class="form-group text-center">
        <div class="row p-2">
          <label class="col-sm-12" for="messageSuppression">Êtes vous sûr de vouloir supprimer votre compte
            ?<br><b>Cette action est irréversible.</b></label>
        </div>
        <div class="row p-2">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary float-right" (click)="validerSuppression()">Confirmer</button>
          </div>
          <div class="col-sm-auto">
            <button type="submit" class="btn btn-primary float-right" (click)="annulerSuppression()">Annuler</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
