<section class="container p-5">
  <div class="card bg-light text-dark">
    <h1 class="p-3 card-header text-center">Mon Profil</h1>
    <form class="card-body">
      <div class="form-group text-left">
        <div class="row p-2">
          <label class="col-sm-4" for="nom">Nom</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="nom" name="nom" [(ngModel)]="utilisateur.nom" #nom="ngModel"
              value="{{utilisateur.nom}}">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="prenom">Prénom</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="prenom" name="prenom" [(ngModel)]="utilisateur.prenom" #prenom="ngModel"
              value="{{utilisateur.prenom}}">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="email">Email</label>
          <div class="col-sm-8">
            <input type="email" class="w-100 text-dark" id="email" name="email" [(ngModel)]="utilisateur.email"
              #email="ngModel" value="{{utilisateur.email}}">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="commune">Commune</label>
          <div class="col-sm-8">
            <input class="w-100 text-dark" id="commune" name="commune" [(ngModel)]="utilisateur.commune"
              #commune="ngModel" value="{{utilisateur.commune}}">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="statutNotification">Alerte ma commune</label>
          <div class="col-sm-8">
            <div class="row p-2">
              <input type="checkbox" class="text-dark" id="statutNotification" name="statutNotification"
                [(ngModel)]="utilisateur.statutNotification" #statutNotification="ngModel"
                value="{{utilisateur.statutNotification}}">
              <label class="w-10 text-dark px-2">{{utilisateur.commune}}</label>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="alertes">Alertes</label>
          <div class="col-sm-8">
            <div class="row p-2" *ngFor="let indicateur of utilisateur.listeIndicateur">
              <input type="checkbox" class="text-dark" id="alertes" name="alertes"
                [(ngModel)]="utilisateur.listeIndicateur" #alertes="ngModel" value="{{utilisateur.listeIndicateur}}">
              <label class="w-10 text-dark px-2">{{utilisateur.listeIndicateur}}</label>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="password">Mot de passe actuel</label>
          <div class="col-sm-8">
            <input type="password" class="w-100 text-dark" id="password" name="password"
              placeholder="Votre mot de passe actuel" [(ngModel)]="utilisateur.motDePasseActuel"
              #motDePasseActuel="ngModel">
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="newPassword">Nouveau mot de passe</label>
          <div class="col-sm-8">
            <input type="password" class="w-100 text-dark" id="newPassword" name="newPassword"
              placeholder="Votre nouveau mot de passe" [(ngModel)]="utilisateur.motDePasseNouveau"
              #motDePasseNouveau="ngModel">
            <p *ngIf="error" style="color:crimson">Le mot de passe doit posséder 7 caractères (avec une majuscule, un
              chiffre et un caractère spécial)</p>
          </div>
        </div>
        <div class="row p-2">
          <label class="col-sm-4" for="validationPassword">Retapez le nouveau mot de passe</label>
          <div class="col-sm-8">
            <input type="password" class="w-100 text-dark" id="validationPassword" name="validationPassword"
              placeholder="Nouveau mot de passe" [(ngModel)]="utilisateur.getMotDePasseNouveauValidation"
              #getMotDePasseValidation="ngModel">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary float-right" (click)="modifierProfil()">Modifier
              Profil</button>
          </div>
          <div class="col-sm-auto">
            <button type="submit" class="btn btn-primary float-right">Supprimer Profil</button>
          </div>
          <div class="row p-2">
            <div class="col-sm-12">
              <p *ngIf="error" style="color:crimson">{{error}}</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
