<app-menu></app-menu>

<section class="container p-5">
  <div class="card bg-dark text-light">
    <div class="card-header">
      <h1 class="text-center">Recherche d'une commune</h1>
    </div>
    <div class="card-body">
      <p class="font-weight-bold pb-2 pt-2">Sélectionner une commune sur la
        carte
        .</p>
      <div id="map_recherche"></div>
    </div>
    <div class="card-footer">
      <h2 class="pt-2 pb-2">Recherche détaillée</h2>
      <form class="mt-3">
        <div class="form-group row p-2">
          <div class="col-sm-4">
            <label for="nomCommuneSelect">Commune</label>
          </div>
          <div class="col-sm-8">
            <select #codeEtNom [(ngModel)]="communeRecherche.codeEtNom"
                    class="w-75 form-control"
                    id="nomCommuneSelect" name="codeEtNom">
              <option *ngFor="let commune of listeCommunes"
                      [ngValue]="{codeInsee: commune.codeINSEE, nomCommune: commune.nomCommune}">{{commune.nomCommune}}
                - {{commune.codeINSEE}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row p-2">
          <div class="col-sm-4">
            <label for="polluantSelect">Polluant</label>
          </div>
          <div class="col-sm-8">
            <select #polluant [(ngModel)]="communeRecherche.polluant"
                    class="w-75 form-control" id="polluantSelect" name="polluant">
              <option *ngFor="let polluant of listePolluants"
                      [ngValue]="polluant">{{polluant}}</option>
            </select>
          </div>
        </div>
        <div class="row p-2">
          <div class="form-group row col-sm-6">
            <div class="col-sm-4">
              <label for="datepicker">Date et heure</label>
            </div>
            <div class="col-sm-8 row">
              <div class="col-10">
                <input #date [(ngModel)]="communeRecherche.date"
                       class="form-control w-100"
                       id="datepicker" name="date" required type="date">
              </div>
              <div class="col-2 p-2">
                <fa name="calendar"></fa>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="col-sm-8 text-left row">
              <input #heure [(ngModel)]="communeRecherche.heure" id="HeureInput"
                     max="23" min="0" name="heure" required step="1"
                     type="number" class="form-control w-auto">
              <label class="p-2">h : 00 min</label>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button (click)="rechercheDetaillee()"
                  class="btn btn-primary">Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
