<div class="container mt-5">

  <div class="card">

    <div class="card-header">
      <h2>Création d'un indicateur</h2>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="choixCommune">Choisir une commune : </label>
          <select class="form-control" id="choixCommune" name="nomCommune" #nomCommune="ngModel"
            [(ngModel)]="indicateurCreation.commune">
            <option *ngFor="let commune of listeCommunes">{{commune}}</option>
          </select>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="choixAlerte" name="alerte"
            [(ngModel)]="indicateurCreation.alerte" #alerte="ngModel">
          <label class="form-check-label" for="choixAlerte">Je souhaite recevoir des alertes pollution pour cette
            commune</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="creerIndicateur(indicateurCreation)">Valider</button>
      </form>


    </div>

  </div>


</div>
