<section class="container pt-5">
  <div class="pb-3 row justify-content-end">
    <button routerLink="/connexion" class="btn btn-light btn-outline-primary m-2 btn-lg-block">Se connecter</button>
    <button routerLink="/inscription" class="btn btn-light btn-outline-success m-2">Créer un compte</button>
  </div>

  <img class="img-fluid border bord p-2" src="assets/img/bg-accueil.jpg" alt="">

  <h1 class="text-center p-3 text-primary">Cclean-Air</h1>
  <p class="text-center">L'application de suivi des conditions météorologiques et de la pollution des communes de
    Loire-Atlantique.</p>
</section>
